@model Home.ViewModels.Entity.Usuario

<style>
    input {
        color: black;
    }
</style>

<div class="text-center">
    <h2>Dados do Usuario</h2>
    <div class="form-group has-feedback has-feedback-left">
        <label for="txtRgm">Rgm:</label>
        <input id="txtRgm" value="@Model.Rgm" />
    </div>
    <div class="form-group has-feedback has-feedback-left">
        <label for="txtNome">Nome:</label>
        <input id="txtNome" value="@Model.Nome" />
    </div>
    <div class="form-group has-feedback has-feedback-left">
        <label for="txtSobrenome">Sobrenome:</label>
        <input id="txtSobrenome" value="@Model.Sobrenome" />
    </div>
    <div class="form-group has-feedback has-feedback-left">
        <label for="txtApelido">Apelido:</label>
        <input id="txtApelido" value="@Model.Apelido" />
    </div>
    <div class="form-group has-feedback has-feedback-left">
        <label for="txtEmail">Email:</label>
        <input id="txtEmail" value="@Model.Email" />
    </div>
    <div class="form-group has-feedback has-feedback-left">
        <label for="txtDataNascimento">DataNascimento:</label>
        <input id="txtDataNascimento" value="@Model.DataNascimento.ToShortDateString()" />
    </div>
</div>
