@model Home.Models.Entity.Usuario
@{ Layout = null;}

<form role="form" action="#">
    <div class="form-group">
        <label class="control-label">Nome</label>
        <input type="text" placeholder="@Model.Nome" class="form-control" id="txtNome" @(ViewBag.IsUsuarioLogado ? string.Empty : "readonly") />
    </div>
    <div class="form-group">
        <label class="control-label">Sobrenome</label>
        <input type="text" placeholder="@Model.Sobrenome" class="form-control" id="txtSobrenome" @(ViewBag.IsUsuarioLogado ? string.Empty : "readonly") />
    </div>
    <div class="form-group">
        <label class="control-label">Apelido</label>
        <input type="text" placeholder="@Model.Apelido" class="form-control" id="txtApelido" @(ViewBag.IsUsuarioLogado ? string.Empty : "readonly") />
    </div>
    <div class="form-group">
        <label class="control-label">E-mail</label>
        <input type="text" placeholder="@Model.Email" class="form-control" id="txtEmail" @(ViewBag.IsUsuarioLogado ? string.Empty : "readonly") />
    </div>
    <div class="form-group">
        <label class="control-label">Data de Nascimento</label>
        <input type="text" placeholder="@Model.NomeDataNascimento" class="form-control date-picker" id="txtDataNascimento" @(ViewBag.IsUsuarioLogado ? string.Empty : "readonly") />
    </div>
    @if (ViewBag.IsUsuarioLogado)
    {
        <div class="margiv-top-10">
            <a href="javascript:;" onclick="editarPerfil()" class="btn green-haze">Salvar</a>
            <a href="@Url.Action("Index", "Timeline")" class="btn default">Cancelar</a>
        </div>

        <Script>

            function editarPerfil() {
                var model = {
                    Id: @Model.Id,
                    Nome: $("#txtNome").val() || '@Model.Nome',
                    Sobrenome: $("#txtSobrenome").val() || '@Model.Sobrenome',
                    Apelido: $("#txtApelido").val() || '@Model.Apelido',
                    Email: $("#txtEmail").val() || '@Model.Email',
                    DataNascimento: $("#txtDataNascimento").val() || '@Model.DataNascimento'
                }

                $.post("@Url.Action("AtualizaUsuario", "Perfil")", model)
                    .done(function() {
                        notify.success("Alterações realizadas com sucesso!");
                    })
                    .fail(function() {
                        notify.error("Erro ao editar usuario");
                    });
            }
        </Script>
    }
</form>