@model Home.Models.Entity.Usuario
<!-- BEGIN PAGE HEADER-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Timeline")">Timeline</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" onclick="addPost()">
                Nova Postagem
            </button>
        </div>
    </div>
</div>
<!-- BEGIN PAGE CONTENT-->
<div class="timeline">
    <!-- TIMELINE ITEM -->
    <!-- BEGIN NOVA POSTAGEM -->
    <div class="timeline-item" id="novaPostagem" style="display: none">
        <div class="timeline-badge">
            <img class="timeline-badge-userpic" src="~/assets/img/placeholder.jpg">
        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow">
            </div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <a href="javascript:;" class="timeline-body-title font-blue-madison">@Model.NomeCompleto</a>
                </div>
                <div class="timeline-body-head-actions">
                    <div class="btn-group btn-salvar">
                        <button class="btn btn-circle green-haze btn-sm" id="btnSalvarPublicacao" type="button" data-toggle="dropdown" data-close-others="true">
                            Salvar <i class="fa fa-floppy-o "></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="timeline-body-content">
                <div id="novoPost">
                </div>
            </div>
        </div>
    </div>
    <!-- END NOVA POSTAGEM -->
    <!-- BEGIN PUBLICAÇÕES -->
    <div class="timeline-item" id="divPublicacoes" data-pagina="0"></div>
    <!-- END PUBLICAÇÕES -->
    <!-- END TIMELINE ITEM -->
</div>
<!-- END PAGE CONTENT-->

<script>

    //bootbox.setLocale("br");
    $("#novoPost").summernote({
        toolbar: false,
        height: 200,
        minHeight: 200,
        maxHeight: 500
    });

    $("#divComment")
        .summernote({
            toolbar: false,
            height: 50,
            minHeight: 50,
            maxHeight: 100
        });

    function addPost() {
        $("#novaPostagem").show();
        $("novoPost").summernote("focus");
    }

</script>

<script>

    var url = {
        GetPublicacoes: '@Url.Action("GetPublicacoes", "Timeline")',
        PostPublicacao: '@Url.Action("PostPublicacao", "Timeline")'
    }

    var buscarPublicacoes = (function publicacao() {
        var divPublicacoes = $("#divPublicacoes");
        var pagina = +divPublicacoes.attr("data-pagina") + 1;
        $.get(url.GetPublicacoes, {
            pagina: pagina
        })
        .done((data) => {
            divPublicacoes.html(data);
            divPublicacoes.attr("data-pagina", pagina);
        })
        .error((xhr) => {
            divPublicacoes.html("<h1>Erro ao buscar publicações");
        });

        return publicacao;
    })();

    $("#btnSalvarPublicacao")
        .click(() => {
            console.log("teste");
            $.post(url.PostPublicacao,
                {
                    Titulo: "Título padrão",
                    Conteudo: $("textarea.note-codable").val(),
                    Ativa: 1,
                    Data: new Date(),
                    Usuario: '@Model.Id',
                    Entidade: 1,
                    Categoria: 0,
                    Curso: 0
                })
                .done(() => {
                    $("#novaPostagem").hide();
                    $("textarea.note-codable").val("");
                    buscarPublicacoes();
                })
                .error(() => {
                    $("#divPublicacoes").html("<h1>Erro ao salvar publicação");
                });
        });

</script>
