@model Home.Models.Entity.Usuario
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Fimple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="~/assets/icon/favicon.ico" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/assets/css/externos")
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/assets/js/jQuery")
    @Scripts.Render("~/assets/js/externos")
    @Scripts.Render("~/assets/js")

</head>
<body class="page-md page-header-fixed page-quick-sidebar-over-content page-container-bg-solid">
    <div id="divErrorLayout">@Html.ValidationSummary()</div>
    <div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="#">
                    <img src="~/assets/img/logo-big.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide"></div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-warning">1 @*QUANTIDADE NOTIFICAÇÕES*@</span>
                        </a>
                        @* -- NOTIFICAÇÕES -- *@
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>
                                    <span class="bold">7 </span> notificações
                                </h3>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">14 hrs</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-info">
                                                    <i class="fa fa-bullhorn"></i>
                                                </span>
                                                Fulano Comentou a sua postagem.
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="~/assets/img/placeholder.jpg" />
                            <span class="username username-hide-on-mobile">@ViewBag.NomeUsuario</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="javascript:void(0)"><i class="icon-user"></i> Meu Perfil</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Sair", "Login")"><i class="icon-key"></i> Sair</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="badge badge-default">10</span>
                            <i class="fa fa-comments-o"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>@Html.ValidationSummary()</div>
    <div id="divContent">@RenderBody()</div>

    <script>

        $(document).ready(function () {
            Metronic.init();
            Layout.init();
            QuickSidebar.init();
        });

    </script>
</body>
</html>