@model Home.Models.Entity.Usuario
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-user"></i>
            <a href="#">Perfil</a>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <img src="~/assets/img/placeholder.jpg" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.NomeCompleto
                    </div>
                    <div class="profile-usertitle-job">
                        @Model.Curso.Nome
                    </div>
                    <br />
                </div>
            </div>
            <div class="portlet light">
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            37
                        </div>
                        <div class="uppercase profile-stat-text">
                            Postagens
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            51
                        </div>
                        <div class="uppercase profile-stat-text">
                            Eventos
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            61
                        </div>
                        <div class="uppercase profile-stat-text">
                            Comentarios
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="profile-desc-title">Informações do Curso</h4>
                    <span class="profile-desc-text"> Rgm: @Model.Rgm </span>
                    <br />
                    <span class="profile-desc-text"> Inicio do Curso: @Model.NomeDataInicioCurso </span>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Configurações da conta</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#abaInfo" id="abaInfo" class="abas" onclick="openDirectory(this)" data-toggle="tab">Informações Pessoais</a>
                                </li>
                                <li>
                                    <a href="#abaMudarAvatar" id="abaMudarAvatar" onclick="openDirectory(this)" class="abas" data-toggle="tab">Mudar Avatar</a>
                                </li>
                                <li>
                                    <a href="#abaMudarSenha" id="abaMudarSenha" onclick="openDirectory(this)" class="abas" data-toggle="tab">Mudar Senha</a>
                                </li>
                                <li>
                                    <a href="#abaUsuarioBloqueado" id="abaUsuarioBloqueado" onclick="openDirectory(this)" class="abas" data-toggle="tab">Usuarios bloqueados</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="abaInfo" data-id="@Url.Action("GetInfo", "PerfilEditar")"></div>
                                <div class="tab-pane" id="abaMudarAvatar" data-id="@Url.Action("GetMudarAvatar", "PerfilEditar")"></div>
                                <div class="tab-pane" id="abaMudarSenha" data-id="@Url.Action("GetMudarSenha", "PerfilEditar")"></div>
                                <div class="tab-pane" id="abaUsuarioBloqueado" data-id="@Url.Action("GetUsuarioBloqueado", "PerfilEditar")"></div>
                            </div>
                        </div>
                        <div id="divDados">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#MenuLateral li.start.active.open").removeClass("start active open");
    function openDirectory(element) {
        var id = $(element).attr("id");
        var action = $(".portlet-body").find("#" + id).attr("data-id");

        $.get(action)
            .done(function(data) {
                $("#divDados").html(data);
            })
            .fail(function(xhr) {
                $("#divDados").html("<h1>Erro ao buscar Usuario</h1>");
            });
    }
</script>
